// Variables
$color-light: #FFFDF2;
$color-medium: #B1ABB4;
$color-dark: #262626;
$font-style: 'Roboto', sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;}

html {
  animation: 1s fadein;
  font-size: 62.5%; /* root is 10px = 1rem */

  body {
    box-sizing: border-box;
    font-family: $font-style;
    line-height: 1.5;
    background: white;   
   }
}

.font {
  font-size: 3rem;
  color: $color-dark;
}

.btn {  
  font-size: 1.5rem;  
}

/***** Start of main components of the webpage ****/

/* Start of navbar */
nav { 
  margin-top: 10px;
  text-align: center;
  
  ul {
    a {
      color: $color-dark !important;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.6rem;
    }
  }
} 

// Remove border of navbar-toggler
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
/* End of navbar */

/* Start of section one */
.text-center {
  color: $color-dark;
  font-size: 2rem;
}

.section-one-first {
  background-color: black;
  min-height: 70vh ;
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0.3;
} 
 
// Second column of section one with two subcolums set to viewport 25vh
.text-center {
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* End of section one */

/* Start of section two */
.section-two {
  font-size: 2rem;
  color: $color-dark;
  img {
    width: auto;
    max-height: 400px;
    object-fit: cover;
  }  
}

.card {
  color: $color-light;
  letter-spacing: 1.3px;
}

.underline {
  border-bottom:1px solid;
  
}
/* End of section two */

/* Start of section three */
.section-three {
  background-color: black;
  min-height: 80vh;
}

// Image of section three set to viewport 50vh
.section-three {
  align-items: center;
  min-height: 70vh;
  letter-spacing: 2px; 
  background-image: linear-gradient( 
    rgba($color-light, 0.1), 
    rgba($color-dark, 2.0),
  ), 
  url('../images/main.jpg');    
  background-size: cover;
  background-position: bottom; 
  padding: 1.6rem; 
}
/* End of section three */

.box:hover {
  color: #0070FF;
}

/**** Footer ****/
#footer {
  border-top: solid 1px $color-medium;
  border-bottom: solid 1px $color-medium;
  margin-top: 10px;
  padding: 1.2rem;
  font-size: 1.6rem;
  text-align: center;
}
/**** End of footer ****/

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

