// Variables
$color-light: #FFFDF2;
$color-medium: #B1ABB4;
$color-dark: #393418;
$shadow: 0 1px 5px rgba(76, 76, 76, 0.7);
$font-style: 'Roboto', sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  animation: 1s fadein;
  font-size: 62.5%; /* root is 10px = 1rem */

  body {
    box-sizing: border-box;
    font-family: $font-style;
    font-size: 1rem;
    margin: 10px;
    line-height: 1.5;
    background: white;   
   }
}

.font {
  font-size: 3rem;
  color: $color-dark;
}

.btn {  
  font-size: 1.5rem;  
}

/***** Start of main components of the webpage ****/

/* Start of navbar */
nav { 
  width: 100%;
  margin-top: 10px;
  text-align: center;
  
  ul {
    a {
      color: $color-dark !important;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.6rem;
    }
  }
} 
/* End of navbar */

/* Start of section one */
.section-one {
  .text-center {
    color: $color-dark;
    font-size: 2rem;
  }
}

// Image of section one set to viewport 50vh
.section-one-first {
  align-items: center;
  min-height: 50vh;
  letter-spacing: 3px;
     
  background-image: linear-gradient( 
    rgba($color-light, 0.5), 
    rgba($color-dark, 1.0),
  ), 
  url('../images/main.jpg');    
  background-size: cover;
  background-position: bottom; 
  padding: 1.6rem; 
}

// Second column of section one with two subcolums set to viewport 25vh
.text-center {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* End of section one */

.section-two {
  font-size: 2rem;
  color: $color-dark;
}  

.box:hover {
/*   -webkit-transition: 0.9s ease;
          transition: 0.9s ease;
  border-bottom: 3px solid white; */
  color: #0070FF;
}

/**** Footer ****/
#footer {
  color: $color-light;
  border-top: solid 1px $color-medium;
  border-bottom: solid 1px $color-medium;
  margin-top: 10px;
  padding: 1.2rem;
  font-size: 1.6rem;
  text-align: center;
}
/**** End of footer ****/

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*********************************/

