// Variables
$color-light: #FFFDF2;
$color-medium: #B1ABB4;
$color-dark: #393418;
$shadow: 0 1px 5px rgba(76, 76, 76, 0.7);

$font-style: 'Roboto', sans-serif;

.text-center {
  text-align: center;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

%headline {
  h1 {
    font-size: 4rem;
    margin-bottom: 1px;
    color: $color-light;
  }

  p {
    text-align: center;
    font-size: 1.6rem;
    color: $color-light;
  }

  .btn {
    margin-top: 10px;
  }
}



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  animation: 1s fadein;
  font-size: 62.5%; /* root is 10px = 1rem */

  body {
    box-sizing: border-box;
    font-family: $font-style;
    font-size: 1rem;
    margin: 10px;
    line-height: 1.5;
    background: white;   
   }
}

.font {
  font-size: 3rem;
  color: $color-dark;
}

button {
  width: 90px;
  height: 30px;
  font-size: 1.2rem;
  color: $color-light;
  background: $color-dark;
  border-radius: 10px;
  padding: 0.7rem;
  text-decoration: none;
  border: 0;
  text-align: center;
}

.button-effect:hover {
  background: $color-medium;
  transition-duration: 0.5s;
  /* transform: scale(1.2); */
}

/***** Start of Main Components of the Webpage ****/

/**** Header ****/
nav {
  width: 100%;
  margin-top: -10px;
  margin-bottom: 10px;
  border-top: solid 1px $color-medium;
  border-bottom: solid 1px $color-medium;
  text-align: center;
  ul {
    a {
      color: $color-dark;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.6rem;

      &:hover {
        color: $color-dark;
        transition: 0.5s;
      }
    }
  }
} 

.section-one {
  .row {
    min-height: 35vh;
  } 
}

.section-one-first {
  background-color: blue;
  align-items: center;
  min-height: 50vh;
  
  letter-spacing: 5px;
     
  background-image: linear-gradient( 
    rgba($color-light, 0.2), 
    rgba($color-dark, 1.5),
  ), 
  url('../images/main.jpg');    
  background-size: cover;
  background-position: bottom; 
  padding: 1.6rem; 
  border-radius: 10px;    

}

.section-one-second {
  background-color: green; 
}



.section-two {
  background-color: red;
 
}  


/**** Section One ****/
/* .section-one {
  background-color: black;
  
  @extend .text-center;

  .header-one {
    letter-spacing: 3px;
   
    
    
    background-image: linear-gradient( 
      rgba($color-light, 0.2), 
      rgba($color-dark, 1.5),
    ), 
    url('../images/main.jpg');  
    
    background-size: cover;
    background-position: bottom; 
    padding: 1.6rem; 
    border-radius: 10px;
  }
} */

.test {
  min-height: 70vh; 
}

/**** Footer ****/
#footer {
  color: $color-light;
  border-top: solid 1px $color-medium;
  border-bottom: solid 1px $color-medium;
  margin-top: 10px;
  padding: 1.2rem;
  font-size: 1.6rem;
  text-align: center;
}
/**** End of Footer ****/

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}