.section-one .box-a, .section-one .box-b, .box {
  background: #FFFDF2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2rem; }
  .section-one .box-a *, .section-one .box-b *, .box * {
    /* wildcard */
    margin-bottom: 10px; }

.section-one .header-one h1, .section-three h1 {
  font-size: 4rem;
  margin-bottom: 1px;
  color: #FFFDF2; }

.section-one .header-one p, .section-three p {
  text-align: center;
  font-size: 1.6rem;
  color: #FFFDF2; }

.section-one .header-one .btn, .section-three .btn {
  margin-top: 10px; }

.section-one .header-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* horizontally */
  justify-content: center;
  /*vertically */ }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* root is 10px = 1rem */ }
  html body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin: 10px;
    line-height: 1.5;
    background: #B1ABB4; }

.font {
  font-size: 3rem;
  color: #393418; }

img {
  border-radius: 20px;
  max-width: 100%; }

button {
  width: 90px;
  height: 30px;
  font-size: 1.2rem;
  color: #FFFDF2;
  background: #393418;
  border-radius: 15px;
  padding: 0.7rem;
  text-decoration: none;
  border: 0;
  text-align: center; }

.button-effect:hover {
  background: #B1ABB4;
  transition-duration: 0.5s;
  /* transform: scale(1.2); */ }

.container {
  display: grid;
  /* grid-gap: 10px; */ }

/**** Header ****/
nav {
  background: #FFFDF2;
  margin-bottom: 10px;
  border-top: solid 1px #B1ABB4;
  border-bottom: solid 1px #B1ABB4; }
  nav ul {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    list-style: none; }
    nav ul a {
      color: #393418;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.2rem;
      text-align: center;
      display: block;
      padding: 1rem;
      font-size: 1.6rem; }
      nav ul a:hover {
        color: #B1ABB4;
        transition: 0.5s; }

/**** Section-One Cloud Solutions ****/
.section-one {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header-one header-one  header-one box-a"  "header-one header-one header-one box-b"; }
  .section-one .header-one {
    grid-area: header-one;
    letter-spacing: 2px;
    min-height: 400px;
    background-image: linear-gradient(rgba(255, 253, 242, 0.2), rgba(57, 52, 24, 0.5)), url("../images/main.jpg");
    background-size: cover;
    background-position: bottom;
    padding: 1.6rem; }
  .section-one .box-a {
    grid-area: box-a; }
  .section-one .box-b {
    grid-area: box-b; }

/**** Section-Two Four horizontal boxes with icons displayed within ****/
.section-two {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }

.box {
  background: #FFFDF2;
  margin-top: 10px;
  padding: 20px;
  margin-bottom: 10px; }

/**** Section-Three Get in Contact ****/
.section-three {
  /* background: url('../images/contact.jpg'); */
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr); }
  .section-three div {
    background: #B1ABB4;
    text-align: center; }

/**** Section-Four display three images horizontally ****/
.section-four {
  display: grid;
  grid-gap: 20px;
  margin-top: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */ }

/**** Footer ****/
footer {
  color: white;
  background: #393418;
  margin-top: 10px;
  padding: 1.2rem;
  font-size: 1.6rem;
  text-align: center; }

/**** Media Queries ****/
@media (max-width: 700px) {
  /* only up to 700px or less*/
  nav ul {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr; }
  .section-three {
    justify-content: center;
    grid-template-columns: 1fr; }
    .section-three h1 {
      font-size: 1.6rem;
      text-align: center; }
    .section-three .box {
      text-align: center; }
  footer {
    padding: 0.5rem; } }
